{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
  </head>
  <link rel="stylesheet" href="{% static 'main.css' %}" />
  {% block styles %}{% endblock styles %}

  <script src="{% static 'main.js' %}" defer></script>
  {% block scripts %}{% endblock %}

  <body>
    {% include 'layouts/partials/menu.html' %} {% block content %}{% endblock %}
  </body>
</html>
